<div class="text-center">

  <h3>Employment</h3>
  <hr>
  <% @employment.each do |emp| %>
    <ul><%= emp.company %></ul>
      <li><strong><%= emp.title %></strong></li>
      <li>Currently employed here: <%= emp.current %></li>
    </ul>
  <% end %>

  <h3>Education</h3>
  <hr>
  <% @education.each do |edu| %>
    <ul><%= edu.school %></ul>
      <li><strong><%= edu.field_of_study %></strong></li>
      <li><%= edu.degree_date %></li>
    </ul>
  <% end %>

  <h3>Skills</h3>
  <hr>
  <% @skills.each do |ski| %>
    <li><%= ski.name %></li>
  <% end %>
</div>
