<div class="container">
  <div class="row">
    <br>
    <div class="text-right">
      Step 2 of 3
    </div>
    <h1>Let's get you employed, <%= @user.name %>!</h1>
    <hr>

    <%= form_for @user, :url => { :action => :git_set } do |f| %>

      <%= f.label 'Please enter your github username:' %>
      <%= f.text_area :github_id %>
      <br>
      <%= f.label 'Twitter username:' %>
      <%= f.text_area :twitter_username %>
      <br>

      <%= f.submit 'Add Accounts', class: "button" %>
    <% end %>
  </div>
</div>
