<div class="container">
  <div class="row">
    <div class="medium-4 columns">
      <div class="profilepic">
        <%= image_tag(@user.picture_url, width: "300") %>
      </div>
      <div class="text-center">
        <h3><%= @user.name %></h3>
        <hr>
      </div>
      <div class="text-center">
        <p><%= @user.description %></p>
      </div>

      <%= render 'looking_for_form' %>

    </div>

    <div class="medium-8 columns">
      <div class="panel expgit">
        <%= render 'employment_form' %>
      </div>
      <div class="panel">
        <%= render 'education_form' %>
      </div>
      <div class="panel">
        <%= render 'skills_form' %>
      </div>
    </div>
  </div>
</div>

<div class="arrowright">
  Github<%= link_to image_tag("arrow_right.png"), git_path %>
</div>
