<div class="user_show_image">
  <div class="container">
    <div class="row show">
      <div class="medium-4 columns">
        <div class="profilepic">
          <%= image_tag(@user.avatar, width: "300") %>
        </div>
        <div class="text-center">
          <h3><%= best_in_place @user, :name %></h3>
        </div>
        <div class="text-center">
          <p><%= best_in_place @user, :description, :as => :textarea %></p>
        </div>
        <div class="text-center">
          <%= link_to image_tag("/linked.png", width: "50"), @user.linkedin_url, target: "_blank" %>
          <%= link_to image_tag("/octocat.png", width: "50"), "#" %>
          <%= link_to image_tag("/twitter.png", width: "50"), "#" %>
          <%= link_to image_tag("/facebook500.png", width: "50"), "#" %>
            <%= mail_to @user.email do %>
          <%= image_tag("/email.png", width: "50") %>
            <% end %>
        </div>
          <hr>

        <%= render 'looking_for_form' %>


      </div>

      <div class="medium-8 columns">
        <div class="panel expgit">
          <%= render 'employment_form' %>
        </div>
        <div class="panel">
          <%= render 'education_form' %>
        </div>
        <div class="panel">
          <%= render 'skills_form' %>
        </div>

      </div>
    </div>
  </div>

  <div class="arrowright">
    <%= link_to image_tag("/oktocat-and-arrow.png"), git_path %>
  </div>
</div>
