<div class="user_show_image">
  <div class="container">
    <div class="row show">
      <div class="medium-4 columns">
        <div class="profilepic">
          <%= image_tag(@user.avatar, width: "300") %>
        </div>
        <div class="text-center">
          <h3><%= best_in_place @user, :name %></h3>
          <hr>
        </div>
        <div class="text-center">
          <p><%= best_in_place @user, :description, :as => :textarea %></p>
        </div>

        <%= render 'looking_for_form' %>


      </div>

      <div class="medium-8 columns">
        <div class="panel expgit">
          <%= render 'employment_form' %>
        </div>
        <div class="panel">
          <%= render 'education_form' %>
        </div>
        <div class="panel">
          <%= render 'skills_form' %>
        </div>

      </div>
    </div>
  </div>

  <div class="arrowright">
    <%= link_to image_tag("/oktocat-and-arrow.png"), git_path %>
  </div>
</div>
