<div class="container">
  <div class="row">
    <br>
    <div class="text-right">
      Step 2 of 3
    </div>
    <h1>Bear with us, almost done!</h1>
    <hr>

    <h3>Personal or Professional Projects:</h3>

    <%= form_tag project_set_path(@user) do |f| %>

      <%= label_tag :url %>
      <%= text_field_tag :url %>

      <%= label_tag :description %>
      <%= text_field_tag :description %>
      <hr>
      <br>
      <%= label_tag :url %>
      <%= text_field_tag :url2 %>

      <%= label_tag :description %>
      <%= text_field_tag :description2 %>
      <hr>
      <br>
      <%= label_tag :url %>
      <%= text_field_tag :url3 %>

      <%= label_tag :description %>
      <%= text_field_tag :description3 %>

      <%= submit_tag 'Save Projects', class: "button" %>
    <% end %>
  </div>
</div>
