<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "gitHired" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Quicksand|Lobster|Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="welcome">
      <div class="panel callout">
        <div class="githired-logo"><%= image_tag("/githired-logo.png") %><%= image_tag("/codercat-for-web.png", width: "100") %></div>
        <div class="text-center">
          <div class="github"><h1>Welcome Devs!</h1></div>
          <h4>gitHired is a personalized resume designed for developers.</h4>
          <hr>
          <h6>We pull your education, skills, and employment history from LinkedIn and
            combine it (in one place) with your Github repositories for a resume that is
            more in line with your talents.</h6>
          <br>

            <div class="signin"><h4><%= link_to 'Sign in with LinkedIn to get started!', "/auth/linkedin" %></h4></div>
        </div>


      </div>
    </div>
  </body>
</html>
