<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Quicksand|Lobster|Raleway' rel='stylesheet' type='text/css'>
  </head>

  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to image_tag("/githired-logo.png", width: "127"), users_path %></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>


      <section class="top-bar-section">

         <!-- Right Nav Section -->
         <ul class="right">
           <% if current_user %>
              <% if current_user.role == "employer" %>
                <li><h5><%= link_to(current_user.name, users_path) %></h5></li>
              <% else %>
                <li><h5><%= link_to(current_user.name, user_path(current_user)) %></h5></li>
              <% end %>
              <li><h5><%= link_to "Sign Out", signout_path %></h5></li>
           <% else %>
             <li><h5><%= link_to "Sign In", "/auth/linkedin" %></h5></li>
           <% end %>
         </ul>
         <ul class="right">
           <div class="jobspath">
            <li><h5><%= link_to 'Jobs', jobs_path %></h5></li>
           </div>
         </ul>
         <ul class="right">
           <%= form_tag search_path do %>
              <div class="searchdropdown">
                <%= select_tag :Search_Parameters, options_for_select([ "Jobs", "Users", "Skills" ], params[:search]) %>
              </div>
              <div class="searchtag">
                <%= text_field_tag :search_text %>
              </div>
              <div class="searchbox">
                <%= submit_tag 'Search', class: "button" %>
              </div>
           <% end %>
         </ul>

       </section>
     </nav>
  </div>

  <body>

    <%= yield %>

  </body>
</html>
